@model FamilyPhotos.ViewModel.PhotoViewModel

<div class="page-header">
    <h2>Új kép létrehozása</h2>
</div>


@using (Html.BeginForm("Create","Photo", FormMethod.Post,new { enctype = "multipart/form-data", @class= "form-horizontal"}))
{
    @Html.EditorForModel()
    <div class="col-xs-offset-2">
        <input type="submit" value="Létrehozás" class="btn-default"/>
    </div>


}

@section style{
    <style type="text/css">
        body {
            background-color:aqua;
        }
    </style>
}
