<!DOCTYPE html>
<html>
<head>
    <title>Fotóalbum</title>
    <style type="text/css">
        body {
            background-color:aquamarine;
        }

    </style>
</head>
<body>
    @RenderBody()
    <div>Japan</div>
</body>
</html>